.gal{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
    background-position: left;
    background-size: cover;
    position: relative;
    & h1{
        position: absolute;
        top: 5rem;
        left: 50%;
        font-size: fs(s);
        color: var(--color-primary);
        transform: translateX(-50%);
        text-shadow:0.2rem 0.1rem 0.2rem var(--color-secondary);
        &::after{
            content: '';
            position: absolute;
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 0.25em;
            left: 105%;
            background-image: url(https://res.cloudinary.com/coysbago2020/image/upload/w_100,c_scale/v1625134432/anni/hlock_zwrn0i.png);
           background-size: cover;
            background-position: center;
        }
      }
    &-big{
        position: fixed;
        top: 0;left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 179, 150,0.5);
        z-index: 200;
        display: none;
        justify-content: center;
        align-items: center;
        & img{
            // height: 70%;
            aspect-ratio: 3.5/4;
            width: 28rem;
            object-fit: cover;
            object-position: center;
            @include mq-s{
                // height: 80%;
                width: 32rem;
            }
            
            @include mq-lg{
                // height: 80%;
                width: 40rem;
            }
        }
    }

    &-box{
        position: relative;
        height: 25rem;
        width: 20rem;
        // perspective: 3000px;
        transform-style: preserve-3d;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        animation: rotate3D 70s linear infinite;
        & span{
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform-origin: center;
            transform: rotateY(calc(var(--i) * 45deg))  translateZ(400px);
           
            & img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform-style: preserve-3d;
               
                
            }
        }
    }
}

@keyframes rotate3D{
 from{
    transform:  perspective(3000px) rotateY(0deg);
 }
 to{
    transform:  perspective(3000px) rotateY(360deg);
 }
}


.show-galbig{
    display: flex;
}