.footer, .time, .letter, .quote, .showcase-icon_container-content, .showcase {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.time, .memo, .letter, .quote {
  padding: 6vh 4vw;
}

.header_hamburger-line::before, .header_hamburger-line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: darkred;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  background-color: transparent;
  outline: none;
}

html {
  --color-primary: #fff5c0;
  --color-primary-m: rgba(255, 245, 192, 0.4);
  --color-pm: #fcf4cc;
  --color-secondary: #ff4646;
  --color-tertiary: #ffb396;
  --color-tertiary-m: rgba(255, 179, 150, 0.7);
  --color-quinary: darkred;
  --color-quinary-m: #ff8585;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Crimson Text", serif;
  letter-spacing: 0.2rem;
  line-height: 1.9;
  color: var(--color-quinary);
  background-color: var(--color-primary);
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-quinary);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-quinary);
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 300;
  color: var(--color-quinary);
  font-size: calc(0.8rem + 0.6vw);
}

i {
  font-size: calc(1.5rem + 2vw);
  color: var(--color-secondary);
}

button,
a {
  cursor: pointer;
}

.header {
  grid-column: container-start/container-end;
  height: 100%;
  width: 100%;
  z-index: 24;
}
@media screen and (min-width: 800px) {
  .header {
    overflow: hidden;
  }
}
.header_hamburger {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 4rem;
  width: 4rem;
  z-index: 20;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 800px) {
  .header_hamburger {
    display: none;
  }
}
.header_hamburger-line {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: darkred;
  transition: background-color 0.5s ease-in-out;
}
.header_hamburger-line::after {
  top: 1.1rem;
}
.header_hamburger-line::before {
  bottom: 1.1rem;
}
.header_overlay {
  background-color: var(--color-tertiary);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.main-nav {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25rem;
  background-color: var(--color-primary);
  transform-style: preserve-3d;
  transform: perspective(100rem) rotateY(90deg);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform-origin: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .main-nav {
    position: relative;
    transform: unset;
    flex-direction: row;
    width: 100vw;
    height: -moz-max-content;
    height: max-content;
    align-items: stretch;
  }
}
.main-nav_logo {
  width: 30%;
  height: auto;
  padding-top: 2.5rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .main-nav_logo {
    width: 3rem;
    padding: 0;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: 10rem;
  }
}
.main-nav_logo::after {
  content: "Happy Anniversary";
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -18%;
  left: -40%;
  color: darkred;
  font-size: calc(0.8rem + 0.6vw);
}
@media screen and (min-width: 800px) {
  .main-nav_logo::after {
    font-size: 1rem;
  }
}
.main-nav_logo img {
  height: 100%;
  width: 100%;
}
.main-nav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .main-nav_content {
    flex-direction: row;
    height: auto;
    width: 80%;
    justify-content: center;
  }
}
.main-nav_content--link {
  width: 100%;
  overflow: hidden;
}
.main-nav_content--link:nth-of-type(2n + 1) {
  animation: upwards 1s;
}
.main-nav_content--link:nth-of-type(2n) {
  animation: downwards 1s;
}
@media screen and (min-width: 800px) {
  .main-nav_content--link {
    height: 100%;
    width: -moz-max-content;
    width: max-content;
    line-height: 7rem;
  }
}
.main-nav_content--link a:visited, .main-nav_content--link a:link {
  cursor: pointer;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  padding: 3vmax 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 0.5s linear;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .main-nav_content--link a:visited, .main-nav_content--link a:link {
    width: auto;
    padding: 0 1rem;
    margin: 0 1rem;
    font-size: calc(0.8rem + 0.6vw);
    transform-origin: top;
  }
}
.main-nav_content--link a::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 100%;
  color: var(--color-primary);
  font-weight: 700;
  height: 100%;
  width: 100%;
  padding: 3vmax 0;
  background-color: var(--color-tertiary);
  transform-style: preserve-3d;
  transform-origin: left;
  transform: rotateY(90deg);
  transition: transform 0.5s linear;
}
@media screen and (min-width: 800px) {
  .main-nav_content--link a::after {
    width: auto;
    bottom: unset;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
}
.main-nav_content--link a:hover, .main-nav_content--link a:active {
  transform: rotateY(-90deg);
}
@media screen and (min-width: 800px) {
  .main-nav_content--link a:hover, .main-nav_content--link a:active {
    transform: rotateX(90deg);
  }
}

.dark-mode {
  cursor: pointer;
  margin-top: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  background-color: rgba(36, 38, 43, 0.65);
  height: 3rem;
  width: 6rem;
  border-radius: 4rem;
  position: relative;
}
@media screen and (min-width: 800px) {
  .dark-mode {
    margin: 0 2rem;
  }
}
.dark-mode:checked {
  background-color: greenyellow;
}
.dark-mode::after, .dark-mode::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-quinary);
}
.dark-mode::before {
  left: 0.75rem;
}
.dark-mode::after {
  right: 0.75rem;
}
.dark-mode:checked::after {
  right: 2.25rem;
}
.dark-mode:checked::before {
  left: 2.25rem;
}

.open .header_hamburger-line {
  background-color: transparent;
}
.open .header_hamburger-line::after {
  transform: translateY(-1.1rem) rotate(-45deg);
}
.open .header_hamburger-line::before {
  transform: translateY(1.1rem) rotate(45deg);
}

.active .header_overlay {
  opacity: 0.8;
  display: unset;
}
.active .main-nav {
  transform: rotateY(0);
}

@keyframes downwards {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes upwards {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.showcase {
  z-index: 10;
  padding: 6rem 2rem;
  padding-bottom: 4rem;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
  margin: 0;
  overflow: hidden;
  background-position: bottom;
}
.showcase .hh {
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -3;
  background-image: linear-gradient(rgba(255, 245, 192, 0.5), var(--color-tertiary)), url(../img/gallery/hh.png);
  animation: fade-img 9s;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-sign {
  width: 80%;
  border-radius: 1rem;
  margin: 9rem auto;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: calc(1.5rem + 1vw);
  font-family: "Pacifico", cursive;
  position: relative;
  animation: up 3s;
  color: var(--color-secondary);
}
.showcase-sign h1 {
  text-shadow: 0.4rem 0.3rem 0px var(--color-tertiary-m);
  padding: 0.5em 1em;
  box-shadow: 0 0 2rem 0.2rem var(--color-secondary);
}
.showcase-sign h1::-moz-selection {
  background-color: var(--color-tertiary-m);
}
.showcase-sign h1::selection {
  background-color: var(--color-tertiary-m);
}
.showcase-sign_balloon-left, .showcase-sign_balloon-right {
  position: absolute;
  bottom: 103%;
  left: 0;
}
.showcase-sign_balloon-left_content, .showcase-sign_balloon-right_content {
  position: absolute;
  left: 4rem;
  top: 0;
  height: 6rem;
  width: 0.2rem;
  background-color: var(--color-quinary);
  transform: translateY(-100%);
}
.showcase-sign_balloon-left_content:nth-of-type(2), .showcase-sign_balloon-right_content:nth-of-type(2) {
  left: 2.5rem;
  transform: rotateZ(30deg) translateY(-100%);
}
.showcase-sign_balloon-left_content:nth-of-type(3), .showcase-sign_balloon-right_content:nth-of-type(3) {
  left: 5.5rem;
  transform: rotateZ(-30deg) translateY(-100%);
}
.showcase-sign_balloon-left_content::after, .showcase-sign_balloon-right_content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  background-color: rgba(160, 5, 5, 0.5);
  height: 8rem;
  width: 5rem;
  border-radius: 50%;
  transform: translateX(-50%);
}
.showcase-sign_balloon-right {
  right: 0;
  left: unset;
}
.showcase-sign_balloon-right_content {
  left: unset;
  right: 4rem;
}
.showcase-sign_balloon-right_content:nth-of-type(2) {
  right: 5.5rem;
  left: unset;
}
.showcase-sign_balloon-right_content:nth-of-type(3) {
  right: 2.5rem;
  left: unset;
}
.showcase-icon {
  width: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  grid-auto-flow: column;
}
@media screen and (min-width: 800px) {
  .showcase-icon {
    gap: 10em;
  }
}
.showcase-icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  animation: fade-img 9s;
}
.showcase-icon_container-content {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem dashed var(--color-tertiary-m);
  background-image: url(../img/gallery/m.png);
  background-color: rgba(255, 179, 150, 0.2);
  background-blend-mode: lighten;
  margin: 1rem 0;
}
.showcase-icon_container:nth-of-type(1) div {
  background-image: url(../img/gallery/c.jpg);
}
.showcase-icon_container h3 {
  font-size: calc(0.8rem + 0.6vw);
  font-style: italic;
  font-weight: 100;
  color: var(--color-pm);
  text-shadow: 0.1rem 0.1rem 1px var(--color-secondary);
}
.showcase-icon_container i {
  color: var(--color-pm);
  text-shadow: 0 0 5px var(--color-secondary);
}
.showcase-icon_heart {
  animation: rotate-heart 3s infinite alternate-reverse linear;
}
.showcase-icon_heart i {
  font-size: calc(1.5rem + 3vw);
  color: var(--color-quinary);
  opacity: 0.7;
}

@keyframes up {
  from {
    transform: translateY(700%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotate-heart {
  from {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    opacity: 0.4;
  }
  to {
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    opacity: 0.9;
  }
}
@keyframes fade-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.quote {
  display: grid;
  place-items: center;
  font-size: calc(1.25rem + 1vw);
  background-image: linear-gradient(to right, var(--color-primary-m), var(--color-primary-m)), url(https://images.unsplash.com/photo-1581022295432-7fabcc628434?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=550&q=80);
  opacity: 1;
  background-position: 60% 70%;
  height: 45vh;
}
.quote:nth-of-type(2) {
  background-image: url(https://images.unsplash.com/photo-1604155669054-d41e0814c359?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=550&q=80);
  opacity: 0.9;
}
.quote-content {
  border-radius: 2rem;
  padding: 5rem 0;
  text-shadow: 2px 3px 5px var(--color-primary);
}
.quote-content q {
  color: transparent;
  font-weight: 700;
  background: linear-gradient(to bottom right, red, purple, darkred);
  background-clip: text;
  -webkit-background-clip: text;
}

.quote-container {
  display: grid;
  grid-auto-flow: row;
}
@media screen and (min-width: 800px) {
  .quote-container {
    grid-auto-flow: column;
  }
}

.letter {
  background-image: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
  font-size: 1rem;
}
@media screen and (min-width: 400px) {
  .letter {
    font-size: calc(0.8rem + 0.6vw);
  }
}
.letter-content {
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 400px) {
  .letter-content {
    padding: 4rem 3rem;
  }
}
.letter-content div:nth-of-type(2n) {
  position: absolute;
  height: 300%;
  width: 0.2rem;
  background-image: linear-gradient(to bottom, red, green, blue, yellow, purple, red);
  opacity: 0.2;
}
.letter-content div:nth-of-type(2n + 1) {
  position: absolute;
  width: 300%;
  height: 0.2rem;
  background-image: linear-gradient(to right, red, green, blue, yellow, purple, red);
  opacity: 0.2;
}
.letter-content div:nth-of-type(1) {
  top: 0;
  left: -50%;
  animation: bt 2s linear infinite;
}
.letter-content div:nth-of-type(2) {
  bottom: -50%;
  left: 0;
  animation: bl 2s linear infinite;
}
.letter-content div:nth-of-type(3) {
  bottom: 0;
  right: -50%;
  animation: bb 2s linear infinite;
}
.letter-content div:nth-of-type(4) {
  top: -50%;
  right: 0;
  animation: br 2s linear infinite;
}
.letter p:nth-of-type(2) {
  margin: 2rem 0;
}
.letter p:nth-of-type(3), .letter p:nth-of-type(4) {
  padding-left: 60%;
}

@keyframes bt {
  from {
    left: -150%;
  }
  to {
    left: 0;
  }
}
@keyframes bb {
  from {
    right: -150%;
  }
  to {
    right: 0;
  }
}
@keyframes bl {
  from {
    bottom: -150%;
  }
  to {
    bottom: 0;
  }
}
@keyframes br {
  from {
    top: -150%;
  }
  to {
    top: 0;
  }
}
.memo {
  color: var(--color-secondary);
  font-size: calc(0.8rem + 0.6vw);
}
.memo-heading {
  margin: auto;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
  border-left: 0.2rem dotted red;
  border-right: 0.2rem dotted red;
}
.memo-heading::-moz-selection {
  background-color: var(--color-tertiary-m);
}
.memo-heading::selection {
  background-color: var(--color-tertiary-m);
}
.memo-container {
  display: grid;
}
@media screen and (min-width: 800px) {
  .memo-container {
    grid-template-columns: 50% 50%;
    padding: 1%;
  }
}
@media screen and (min-width: 1200px) {
  .memo-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0 8%;
  }
}
.memo-container_content {
  width: 22rem;
  height: 18rem;
  margin: 5rem auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .memo-container_content {
    width: 25rem;
    height: 20rem;
  }
}
.memo-container_content p {
  margin-top: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .memo-container_content p {
    font-size: 1.5rem;
  }
}
.memo-container_content i {
  font-size: 2rem;
}
@media screen and (min-width: 800px) {
  .memo-container_content i {
    font-size: 2.5rem;
  }
}
.memo-container_content::after {
  content: "\f4ad";
  font-family: "Font Awesome 5 Free";
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  bottom: 0;
  transform-origin: bottom;
  left: 0;
  padding: auto 0;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  color: var(--color-primary);
  font-size: 2.5rem;
  background-color: var(--color-quinary-m);
  display: inline-block;
  line-height: 18rem;
}
@media screen and (min-width: 800px) {
  .memo-container_content::after {
    font-size: 3rem;
    line-height: 20rem;
  }
}
.memo-container_content:nth-of-type(2):after {
  content: "\f004";
}
.memo-container_content:nth-of-type(3):after {
  content: "\f3cd";
  font-weight: 900;
}
.memo-container_content:nth-of-type(4):after {
  content: "\f79f";
  font-weight: 900;
}
.memo-container_content:nth-of-type(5):after {
  content: "\f598";
}
.memo-container_content:nth-of-type(6):after {
  content: "\f70b";
  font-weight: 900;
}
.memo-container_content:hover:after {
  transform: rotateX(180deg);
  opacity: 0;
}
.memo-container_content div {
  background-color: var(--color-secondary);
  height: 0.2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.time {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1614699873967-2811e1c2d5bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-position: 50% 70%;
  font-size: calc(0.8rem + 0.6vw);
}
@media screen and (min-width: 400px) {
  .time {
    font-size: calc(1.5rem + 1vw);
  }
}
@media screen and (min-width: 800px) {
  .time {
    background-image: url(https://images.unsplash.com/photo-1614699873967-2811e1c2d5bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
  }
}
.time-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5em;
}
@media screen and (min-width: 400px) {
  .time-container {
    line-height: 3em;
  }
}
.time p {
  color: var(--color-primary);
  text-shadow: 8px 2px 6px var(--color-quinary);
}
.time p:nth-of-type(1) {
  margin-top: 3rem;
  margin-bottom: 0.5em;
  font-size: calc(1.5rem + 4vw);
}
.time p:nth-of-type(3) {
  margin-right: 6rem;
}
.time p:nth-of-type(4) {
  margin-left: 6rem;
}
.time p:last-of-type {
  margin-top: 8rem;
  font-style: italic;
  font-size: calc(0.8rem + 0.6vw);
}
@media screen and (min-width: 1300px) {
  .time p:last-of-type {
    margin-top: 2rem;
  }
}
.time span {
  color: var(--color-primary);
  padding: 0.8rem;
  background-color: var(--color-tertiary-m);
  margin-right: 3px;
}

.gal {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80);
  background-position: left;
  background-size: cover;
  position: relative;
}
.gal h1 {
  position: absolute;
  top: 5rem;
  left: 50%;
  font-size: calc(1.5rem + 1vw);
  color: var(--color-primary);
  transform: translateX(-50%);
  text-shadow: 0.2rem 0.1rem 0.2rem var(--color-secondary);
}
.gal h1::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0.25em;
  left: 105%;
  background-image: url(https://res.cloudinary.com/coysbago2020/image/upload/w_100,c_scale/v1625134432/anni/hlock_zwrn0i.png);
  background-size: cover;
  background-position: center;
}
.gal-big {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 179, 150, 0.5);
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;
}
.gal-big img {
  aspect-ratio: 3.5/4;
  width: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 400px) {
  .gal-big img {
    width: 32rem;
  }
}
@media screen and (min-width: 800px) {
  .gal-big img {
    width: 40rem;
  }
}
.gal-box {
  position: relative;
  height: 25rem;
  width: 20rem;
  transform-style: preserve-3d;
  transform: translateZ(0);
  animation: rotate3D 70s linear infinite;
}
.gal-box span {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.gal-box span img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-style: preserve-3d;
}

@keyframes rotate3D {
  from {
    transform: perspective(3000px) rotateY(0deg);
  }
  to {
    transform: perspective(3000px) rotateY(360deg);
  }
}
.show-galbig {
  display: flex;
}

.footer {
  padding: 5rem;
  background-image: url(https://images.unsplash.com/photo-1593722017239-6ab56bb60712?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-position: 40% 30%;
}
@media screen and (min-width: 800px) {
  .footer {
    background-image: url(https://images.unsplash.com/photo-1593722017239-6ab56bb60712?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
    padding: 8rem;
  }
}
@media screen and (min-width: 800px) {
  .footer {
    background-image: url(https://images.unsplash.com/photo-1593722017239-6ab56bb60712?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80);
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-style: italic;
  font-size: 0.5rem;
  font-family: "Pacifico", cursive;
}
@media screen and (min-width: 400px) {
  .footer-container {
    font-size: calc(0.8rem + 0.2vw);
  }
}
.footer-container_img {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
}
.footer-container_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-container span {
  text-shadow: 0.2rem 0.2rem 0.2rem var(--color-tertiary-m);
}

.spin {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .spin {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 110vh;
  }
}
.spin-info {
  margin-top: 4rem;
  color: var(--color-tertiary);
  text-shadow: 0.1rem 0.1rem var(--color-quinary);
  font-size: calc(0.8rem + 0.6vw);
}
.spin-info::-moz-selection {
  background-color: var(--color-tertiary-m);
}
.spin-info::selection {
  background-color: var(--color-tertiary-m);
}
.spin h1 {
  font-style: italic;
  padding: 0.3em 2em;
  border-radius: 10em;
  background: linear-gradient(to right, var(--color-secondary), var(--color-secondary), #ff8585, var(--color-quinary));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}
.spin h1::-moz-selection {
  background-color: var(--color-tertiary-m);
  -webkit-text-fill-color: var(--color-quinary);
}
.spin h1::selection {
  background-color: var(--color-tertiary-m);
  -webkit-text-fill-color: var(--color-quinary);
}
.spin h1 div {
  position: absolute;
}
.spin h1 div:nth-of-type(2n) {
  height: 0.5rem;
  width: 100%;
}
.spin h1 div:nth-of-type(2n + 1) {
  height: 100%;
  width: 0.5rem;
}
.spin h1 div:nth-of-type(1) {
  background-image: linear-gradient(180deg, transparent, var(--color-tertiary));
  right: 0;
  bottom: 100%;
  animation: border1 1s linear infinite;
  animation-delay: 0.5s;
}
.spin h1 div:nth-of-type(2) {
  background-image: linear-gradient(90deg, transparent, var(--color-tertiary));
  right: 100%;
  top: 0;
  animation: border2 1s linear infinite;
  animation-delay: 0s;
}
.spin h1 div:nth-of-type(3) {
  background-image: linear-gradient(360deg, transparent, var(--color-tertiary));
  left: 0;
  top: 100%;
  animation: border3 1s linear infinite;
  animation-delay: 0.5s;
}
.spin h1 div:nth-of-type(4) {
  background-image: linear-gradient(270deg, transparent, var(--color-tertiary));
  left: 100%;
  bottom: 0;
  animation: border4 1s linear infinite;
  animation-delay: 0s;
}
.spin-con {
  height: 25rem;
  width: 25rem;
  background: radial-gradient(red, red, red, var(--color-tertiary), var(--color-tertiary));
  border-radius: 50%;
  position: relative;
}
@media screen and (min-width: 400px) {
  .spin-con {
    height: 30rem;
    width: 30rem;
  }
}
@media screen and (min-width: 800px) {
  .spin-con {
    height: 46rem;
    width: 46rem;
  }
}
.spin-con button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  position: absolute;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: bolder;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: calc(0.8rem + 0.2vw);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-secondary);
  text-shadow: 0.2rem 0.2rem 0 var(--color-primary);
  background: radial-gradient(var(--color-primary), var(--color-primary), var(--color-primary), var(--color-secondary), var(--color-secondary), var(--color-secondary));
  z-index: 15;
}
@media screen and (min-width: 400px) {
  .spin-con button {
    letter-spacing: 0.2rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 800px) {
  .spin-con button {
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
  }
}
.spin-con button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 94%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 15px solid var(--color-secondary);
  z-index: -1;
}
@media screen and (min-width: 400px) {
  .spin-con button::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid var(--color-secondary);
  }
}
.spin-con_content {
  position: absolute;
  height: 50%;
  width: 45%;
  transform-origin: bottom;
  -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
          clip-path: polygon(100% 0, 50% 100%, 0 0);
  background-color: var(--color-tertiary);
  transform: translateX(-50%);
  top: 0;
  left: 27.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spin-con_content:nth-of-type(1) {
  left: 50%;
}
.spin-con_content:nth-of-type(2) {
  transform: rotate(45deg);
  background-color: var(--color-primary);
}
.spin-con_content:nth-of-type(3) {
  transform: rotate(90deg);
  background-color: var(--color-tertiary);
}
.spin-con_content:nth-of-type(4) {
  transform: rotate(135deg);
  background-color: var(--color-primary);
}
.spin-con_content:nth-of-type(5) {
  transform: rotate(180deg);
  background-color: var(--color-tertiary);
}
.spin-con_content:nth-of-type(6) {
  transform: rotate(225deg);
  background-color: var(--color-primary);
}
.spin-con_content:nth-of-type(7) {
  transform: rotate(270deg);
  background-color: var(--color-tertiary);
}
.spin-con_content:nth-of-type(8) {
  transform: rotate(315deg);
  background-color: var(--color-primary);
}
.spin-con_content p {
  height: 10rem;
  font-size: calc(0.8rem + 0.6vw);
  line-height: 5rem;
}
.spin-con_content p:nth-of-type(2) {
  margin-bottom: 3rem;
}
.spin-con .won {
  animation: winning 0.2s infinite;
}

.spinning {
  height: 23rem;
  width: 23rem;
  position: relative;
  transition: transform 5s;
  left: 1rem;
  top: 1rem;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
}
@media screen and (min-width: 400px) {
  .spinning {
    height: 28rem;
    width: 28rem;
    left: 1rem;
    top: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .spinning {
    height: 40rem;
    width: 40rem;
    left: 3rem;
    top: 3rem;
  }
}

@keyframes winning {
  50% {
    background-color: rgb(212, 207, 207);
  }
}
@keyframes border1 {
  from {
    bottom: 100%;
  }
  to {
    bottom: -100%;
  }
}
@keyframes border2 {
  from {
    right: 100%;
  }
  to {
    right: -100%;
  }
}
@keyframes border3 {
  from {
    top: 100%;
  }
  to {
    top: -100%;
  }
}
@keyframes border4 {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
.scroll {
  position: fixed;
  border-radius: 50%;
  bottom: 50%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  background-image: url(../img/scroll.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: var(--color-secondary);
  background-blend-mode: lighten;
  visibility: hidden;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}

.active-scroll {
  visibility: visible;
  bottom: 3rem;
}

.inactive-scroll {
  visibility: hidden;
  bottom: 50%;
}/*# sourceMappingURL=main.css.map */